html,body,#wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;
}
 
.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
 
.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
 
.brown {
	fill: #4E3629;
}
 
.columbia {
	fill: #C4D8E2;
}

.cornell {
	fill: #B31B1B;
}

.dartmouth {
	fill: #00693E;
}

.harvard {
	fill: #A51C30;
}
 
.penn {
	fill: #01256E;
}
 
.princeton {
	fill: #EE7F2D;
}
 
.yale {
	fill: #00356B;
}
 
#forkme_banner {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 10;
	padding: 10px 50px 10px 10px;
	color: #fff;
	background:
		url('http://dk8996.github.io/Gantt-Chart/images/blacktocat.png')
		#0090ff no-repeat 95% 50%;
	font-weight: 700;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	text-decoration: none;
}

h1 {
    text-align: center;
}

.tooltip {
    position: absolute;
    line-height: 1;
    font-size: 10px;
    padding: 8px 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    font-weight: bold;
    max-width: 300px;
}

.tooltip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}