beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.4
html5lib==1.0.1
idna==2.6
nameparser==0.5.6
penncoursereview==0.1.1
PennSDK==1.7.1
pytz==2018.5
requests>=2.20.0
six==1.11.0
urllib3>=1.23
webencodings==0.5.1
